.square{
    background: rgb(27, 27, 27);
    padding: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    
    

}

.square p{
    text-align: center;
    margin: auto;
    font-size: 60px;
}